
.octocat img{
	width: 375px;
	border: 2px solid #CFCFCF;
	margin: 10 px;
	border-radius: 5px;
	margin-bottom: -5px
}
.image-footer{
	color: silver;
	font-weight: 900;
	font-family: sans-serif;
	padding-right: 50px;
	padding-top: 15px;
	height: 35px;
	border-bottom: 2px solid #CFCFCF;
}
.authors img{
	width: 25px;
	border: none;
	
}

.octocat{
	float: left;
	margin: 10px;
	position: relative;
}
ul {
list-style: none;
float: right;
}
.image-caption{
	color: grey;
	float: right;
	position: relative;
	font-weight: 900;
	margin-right: -65px
}

.image-number::before{
content: "#"
}
.authors{
	float: right;
	margin-top: -5px;
	margin-right: 20px;
	margin-left: -70px;
}
.image-caption:before{
	content: " ";
	width: 0;
height: 0;
border-style: solid;
border-width: 7px 6px 0 6px;
border-color: #cfcfcf transparent transparent transparent;
float: right;
margin-top: -15px;
margin-right: 25px;
}
ul .author{
	padding-left: 0px;
}
